@import "ol/ol.css";
@import "ol-layerswitcher/dist/ol-layerswitcher.css";
@import "tailwindcss";

html,
body {
  margin: 0;
  height: 100%;
}

.ol-zoom {
  top: unset;
  left: unset;
  bottom: 3em;
  right: 0.5em;
}

.ol-viewport {
  border-radius: 0.6em;
}

.layer-switcher {
  top: unset;
  left: unset;
  bottom: 0.5em;
  right: 0.5em;
}

.layer-switcher button {
  width: 1.4em;
  height: 1.4em;
  background-position: center;
  background-size: cover;
}

h3 {
  @apply font-semibold text-lg mt-4 text-gray-900 dark:text-gray-300;
}

code.field_name {
  @apply p-1 border bg-gray-200 rounded-md m-1 dark:bg-slate-500 border-gray-200
    dark:border-slate-400 font-sans whitespace-nowrap;
}
